name: GitHub Issue Sync

on:
  issues:
    types:
      - opened
      - reopened
      - labeled
  workflow_dispatch:
    inputs:
      excludeClosed:
        description: 'Exclude closed issues in the sync.'
        type: boolean 
        default: true

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      # - name: Generate token
      #   id: generate_token
      #   uses: tibdex/github-app-token@v1
      #   with:
      #     app_id: ${{ secrets.APP_ID }}
      #     private_key: ${{ secrets.PRIVATE_KEY }}
      - name: Sync labeled issues
        # if: github.event_name == "labeled"
        uses: bullrich/github-issue-sync@labels-support
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PROJECT_TOKEN: ${{ secrets.GH_TOKEN_PROJECT_ACCESS }}
          project: 4
          project_field: Status
          project_value: In progress
          labels: duplicate
        env:
          ACTIONS_RUNNER_DEBUG: true
      - name: Sync other issues
        # if: github.event_name != "labeled"
        uses: bullrich/github-issue-sync@labels-support
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PROJECT_TOKEN: ${{ secrets.GH_TOKEN_PROJECT_ACCESS }}
          project: 4
          project_field: Status
          project_value: In progress
        env:
          ACTIONS_RUNNER_DEBUG: true
