name: GitHub Issue Sync

on:
  issues:
    types:
      - opened
      - reopened
      - labeled
  workflow_dispatch:
    inputs:
      excludeClosed:
        description: 'Exclude closed issues in the sync.'
        type: boolean 
        default: true

jobs:
  sync:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - field: Status
            value: "In Progress"
          - field: Status
            value: "Doneso"

    steps:
      # - name: Generate token
      #   id: generate_token
      #   uses: tibdex/github-app-token@v1
      #   with:
      #     app_id: ${{ secrets.APP_ID }}
      #     private_key: ${{ secrets.PRIVATE_KEY }}
      - name: Sync issues
        uses: bullrich/github-issue-sync@labels-support
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # The token needs to have the following permissions
          # - "read:org" is used to read the project's board
          # - "write:org" is used to assign issues to the project's board
          # - "repo" is used to access issues through the API
          PROJECT_TOKEN: ${{ secrets.GH_TOKEN_PROJECT_ACCESS }}

          # The number of the project which the issues will be synced to
          project: 4

          # The name of the project field which the issue will be assigned to
          project_field: ${{ matrix.field }}

          # The value which will be set in the field, in this case the team's
          # name
          project_value: ${{ matrix.value }}
